.jumbotron {
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: darkturquoise;
}
.container{
	padding-top: 10%;
}
.login-div{
	float: left;
	width: 50%;
}
.register-div{
	float: left;
	width: 50%;
	height:100%;
}
.login-form{
	/*  float: left;*/
	margin-top:8.15%;
	padding-left:80px;
	width: 60%;
	height:100%;
}
.register-form{
	padding-right:80px;
	float: right;
	width: 60%;
	height:100%;
}
.form-group-loc {
    width: 70%;
    float: left;
    margin-bottom: 15px;
     margin-right: 7px;
}
.loc{
	float:left;
	margin-left: 3%;
}

.btn{
	    padding: 6px 21px;
	    float: right;
    	background-color: lightseagreen;
}

.button, select {
    text-transform: none;
    width: 66px;
    height: 37px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
